.ResetPassword_container {
  background-color: #0A192F;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: #0A192F;
  font-family: 'Roboto', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.container {
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  max-width: 600px;
  max-height:  450px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 350px;
}


.Header {
  font-size: 2rem;
}

.infoText {
  font-size: 0.9rem;
  color: #444462;
}

.inputfield {
  width: 100%;
  max-width: 350px;
  height: 40px;
  border-radius: 3px;
  border: none;
  background-image: url('../assets/padlock.png');
  background-color: rgb(232, 232, 232);
  background-repeat: no-repeat;
  background-position: 5px center;
  background-size: 16px 16px;
  padding: 5px 5px 5px 30px;
  box-sizing: border-box;
}

.form {
  width: 100%;
  max-width: 450px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sub {
  width: 100%;
  max-width: 350px;
  height: 45px;
  border-radius: 5px;
  border: none;
  background-color: #64ffda;
  font-weight: 700;
  cursor: pointer;
  font-size: 18px;
  color: #0A192F;
}

.sub:hover {
  background-color: #52e0bd;
}

.BacktoLogin {
  border: none;
  background-color: transparent;
  color: #444462;
  font-weight: normal;
  font-size: 0.875rem;
  cursor: pointer;
}

.BacktoLogin:hover {
  border: none;
  background-color: transparent;
  color: #444462;
  font-weight: normal;
  font-size: 0.875rem;
  cursor: pointer;
  text-decoration: underline;
}